
body{
margin: 0;
padding: 0;

}


.header {
background-color: black;
border: 3px solid #32b9cd;


}

.titulo {

    color: #32b9cd;
    font-weight: 500;
}

.container {

    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {

    justify-content: space-between;
}

.navbar {

display: flex;
width: 300px;
align-items: center;
list-style: none;
justify-content: space-between;

}

.navbar a {

    color: #e3b062;
    text-decoration: none;
}

/* banner*/

.banner {

    background-image: url('../assets/imgs/bg-jelly-fish-para_outras_pags.png');
    background-size: cover;

}

.banner .container {

height: 500px;
justify-content: center;
align-items: center;


}

.banner p{

width: 280px;
font-size: 36px;
color: white;

}

.banner span {

font-weight: 800;

}

/* Missão, visão e valores*/

.boxes {

    display: flex;
    padding: 50px 0;
    gap: 16px;

}

.box {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img{

    width: 170px;
    

}

.social {

    background-color: #e5e5e5;
}